body, html{
    margin:0;
    padding:0;
    height: 100%;
}

.container {
    width: 80%;
    height: 100%;
    background-color: #eee65e;
    margin:0 auto;
}

header {
    height: 175px;
    width: 100%;
    background-color: #ff0800;
}

nav{
    height: 75px;
    width: 100%;
    background-color: purple;

}

.descricao {
    height: 150px;
    width: 100%;
    background-color: #00f;
}

.produto{
    height: 500px;
    width: 100%;
}

