body {
    text-align: center;
    font-family: sans-serif;
    background: linear-gradient(to right, #00C7EA, #FF4B52);
}
main {
    margin-top: 50px;
}

.pokemon__image {
    width: 300px;   
}
.input__search {
    padding: 2px;
    font-size: 30px;
    margin-top: 20px;
}

.buttom {
    margin-top: 20px;
}
button {
    padding: 50px 20px;
    margin: 0 10px;
    font-size: 16px;
}
.image
